langchain
langchain_community
sentence-transformers
sentence-transformers==2.2.2
faiss-cpu
youtube-transcript-api
transformers
PyPDF2
langchain_core
pinecone-client
langchain_pinecone
pinecone-notebooks
